* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

#header {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    margin: 0;
    padding: 10px;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    padding: 15px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    margin-top: 14px;
}

.nama {
    font-size: 25px;
}

.nama span {
    color: pink;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    position: relative;
    color: #fff;
}

nav ul li a:hover {
    color: pink;
}

nav .fa-solid {
    display: none;
}

.header-text {
    font-family: cursive;
    text-align: center;
    font-size: 30px;
}

.header-text span {
    color: pink;
}
.header-text .port{
    color: #fff;
    font-family: cursive;
}

#about {
    padding: 0px 4%;
    background-color: #2B2B2B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    height: 100vh;
}

.about1 {
    flex-basis: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.about1 img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 2px 6px rgba(255, 105, 180, 0.3);
}

.layer {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: linear-gradient(rgba(0,0,0,0.6), pink);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 15px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.about1:hover .layer {
    opacity: 1;
}

.about2 {
    flex-basis: 60%;
}

.about2 p {
    text-align: justify;
    font-size: 16px;
    line-height: 1.6;
}

.sub-title {
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 0;
    font-family: cursive;
}

.tab-titles {
    display: flex;
    margin: 20px 0 0px;
}

.tab-links {
    margin-right: 30px;
    font-size: 15px;
    font-weight: 200;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0%;
    height: 2px;
    background: pink;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.tab-links.active-links::after,
.tab-links:hover::after {
    width: 100%;
}

.tab-contents ul{
    padding: 0;
    margin: 0;
    text-align: left;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: pink;
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0;
    margin-top: 10px;
    text-align: left;
}

.skills-container li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    color: #ffffff;
}

.skills-container li i {
    font-size: 20px;
    color: #ff7b72;
}
.education-item {
    text-align: left;
    margin-bottom: 10px;
}

.education-item h4 {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: pink;
    margin-bottom: 5px;
}

.education-item p {
    font-size: 16px;
    color: #ccc;
    margin: 3px 0;
}

.cv-item{
    padding-top: 10px;
}

.download-btn {
    display: inline-block;
    background-color: transparent;
    border: 1px solid #ff3385;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 4px 8px rgba(255, 105, 180, 0.4);
}

.download-btn:hover {
    transform: scale(1.05);
    color: #ccc;
    box-shadow: 0px 8px 16px rgba(255, 105, 180, 0.4);
}

#project {
    background: #0A0A0A;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.myproject {
    font-size: 38px;
    font-weight: bold;
    font-family: cursive;
    color: #ffffff;
    margin-bottom: 20px;
}

.container-project {
    width: 100%;
    max-width: 1150px;
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(255, 105, 180, 0.3);
    backdrop-filter: blur(10px);
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#projectCarousel {
    width: 100%;
    position: relative;
}

.carousel-item {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.project-img {
    width: 100%;
    max-width: 400px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(255, 105, 180, 0.3);
}

.project-img:hover {
    transform: scale(1.05);
}

.project-description {
    width: 100%;
    max-width: 600px;
    background: rgba(255, 255, 255, 0.2);
    padding: 25px;
    border-radius: 10px;
    color: white;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 2px 6px rgba(255, 105, 180, 0.3);
}

.project-description p {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-description p span {
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    color: rgb(230, 230, 230);
}

.project-description ul li{
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 5px;
    text-align: justify;
}

.project-description:hover {
    background: rgba(255, 255, 255, 0.3);
}

.carousel-control-prev,
.carousel-control-next{
    position: absolute;
    transform: translateY(130%);
    width: 20px !important;
    height: 100px;
    background: none;
    border: none;
    z-index: 10;
}

.carousel-control-prev {
    left: -17px !important;
}

.carousel-control-next {
    right: -17px !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 40px;
    height: 40px;
    opacity: 1;
}

#proyek {
    padding: 30px 0;
    background: #141414;
    height: 150vh;
}

.mypro {
    font-size: 32px;
    font-weight: bold;
    color: #ff69b4;
    margin-bottom: 30px;
    text-align: center;
    font-family: cursive;
}

.card {
    border: none;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(255, 105, 180, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    background: #222;
    color: white;
    width: 18rem;
    overflow: hidden;
    opacity: 1;
    transform: translateY(10px);
    animation: fadeInUp 0.6s ease-in-out forwards;
    position: relative
}
.read-more {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ff69b4;
    font-size: 14px;
    background: rgba(0, 0, 0, 0.6);
    padding: 4px;
    border-radius: 50%;
    transition: background 0.3s ease-in-out;
    text-decoration: none;
    z-index: 10;
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.read-more i {
    font-size: 12px;
}

.read-more:hover {
    background: #ff69b4;
    color: white;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgba(255, 105, 180, 0.4);
}

.card-text{
    color: #0A0A0A;
    font-size: 10px;
    text-align: left;
    opacity: 0.8;
    margin-bottom: 0px;
    flex-grow: 1;
    text-overflow: ellipsis;
    max-height: 90px;
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-left: 10px;
}

.card-img-top {
    height: 180px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    transition: transform 0.3s ease-in-out;
}

.card:hover .card-img-top {
    transform: scale(1.1);
}

.card-body {
    padding: 12px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 11px;
    color: #0A0A0A;
    font-weight: bold;
    font-style: italic;
    position: absolute;
    bottom: 7px;
    left: 10px;
    right: 10px;
    border-top: none !important;
    padding-top: 5px;
}

.card-author, .card-date {
    color: #555;
}


.card-title {
    font-size: 16px;
    font-weight: bold;
    color: #ff69b4;
    margin-bottom: 4px;
}

.card-info {
    font-size: 13px;
    color: #0A0A0A;
}

.card-body a {
    color: #0A0A0A;
    text-decoration: none;
    font-size: 14.5px;
    transition: color 0.3s ease-in-out;
}

.card-body a:hover {
    color: #ff69b4; /* Warna saat hover */
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    transition: opacity 0.3s ease;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw !important;
    height: 80vh !important;
    background: black;
    border-radius: 10px;
    border: 2px solid #ff69b4;
    box-shadow: 0px 6px 12px rgba(255, 105, 180, 0.4);
    padding: 20px;
    z-index: 1000;
    overflow-y: auto;
}

.popup-content h2 {
    font-size: 22px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.popup-content p {
    font-size: 14px;
}

.popup-content img {
    width: 80%;
    object-fit: cover;
}

.popup-body {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 45vh;
    gap: 40px;
    padding-top: 20px;
}

.image-slider {
    position: relative;
    width: 55%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.popup-image {
    width: 100%;
    height: 100%;
    display: none;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
}

.popup-image.active {
    display: block;
}

.prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 15px;
    color: white;
    cursor: pointer;
    padding: 6px;
    z-index: 10;
}

.prev-btn {
    left: 15px;
}

.next-btn {
    right: 15px;
}

.prev-btn:hover, .next-btn:hover {
    color: #ff69b4;
}

.popup-text {
    flex: 1;
    color: white;
    padding-left: 20px;
    font-size: 13px;
    text-align: left;
    transform: translateX(-10%);
}

.popup-text ul {
    padding-left: 0;
    list-style-position: inside;
    list-style: none;
}

#popup-description {
    font-size: 12px;
    text-align: justify;
    margin-bottom: 5px;
    padding: 0 40px;
}

.popup.show {
    display: block;
    animation: popupFadeIn 0.4s ease-out forwards;
}

.overlay.show {
    display: block;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.popup.hide {
    animation: popupFadeOut 0.4s ease-out forwards;
}

.overlay.hide {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    font-size: 16px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

@keyframes popupFadeIn {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.9);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes popupFadeOut {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.9);
    }
}

#footer {
    width: 100%;
    padding: 20px 0;
    background-color: #111;
    color: #fff;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer-text {
    font-size: 16px;
    color: #ccc;
    margin: 0;
}

.footer-text a {
    color: #fff;
    text-decoration: none;
}

.footer-content i{
    transition: transform 0.3s ease;
}

.footer-content i:hover{
    transform: scale(1.2);
}

@media (max-width: 760px) {
    #footer {
        padding: 20px 0;
        background-color: #111;
        color: #fff;
        text-align: left;
    }

    .footer-content {
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 10px;
        padding-left: 21px;
    }

    .footer-text {
        font-size: 12px;
        color: #ccc;
        margin: 0;
    }

    .whatsapp-button {
        position: fixed;
        bottom: 10px;
        right: 10px;
        z-index: 1000;
    }

    .whatsapp-button img {
        width: 35px !important;
        height: 35px !important;
    }
}

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.whatsapp-button a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #25D366;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.whatsapp-button a:hover {
    background-color: #128C7E;
    transform: scale(1.1);
}

.whatsapp-button img {
    width: 50px;
    height: 50px;
}

@media (max-width: 760px) {
    #about{
        padding: 0px 10px;
        height: auto;
    }
    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        max-width: 760px;
        width: 100%;
        height: auto;
    }

    .about1, .about2 {
        padding-top: 20px;
        flex-basis: 100%;
        text-align: center;
    }

    .about1 img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        object-fit: cover;
    }

    .layer {
        position: absolute;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background: linear-gradient(rgba(0,0,0,0.6), pink);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        font-size: 15px;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }

    .layer h3{
        font-size: 10px;
    }

    .about2 {
        padding: 10px;
    }

    .about2 .sub-title {
        font-size: 20px;
        font-weight: bold;
    }

    .about2 p {
        font-size: 14px;
        line-height: 1.6;
    }

    .tab-titles {
        display: flex;
        justify-content: space-around;
        margin: 0 !important;
    }

    .tab-links {
        cursor: pointer;
        font-weight: bold;
        margin-right: 31px;
    }

    .tab-contents {
        display: none;
    }

    .tab-contents.active-tab {
        display: block;
    }

    .skills-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .skills-container li {
        font-size: 14px;
    }

    .cv-item{
        display: flex;
        justify-content: left;
    }

    nav ul {
        background-color: #FF69B4;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: .5s;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        display: block;
        margin: 30px;
    }

    nav ul .fa-solid {
        position: absolute;
        top: 25px;
        left: 25px;
    }

    nav .fa-solid {
        display: block;
        font-size: 20px;
        cursor: pointer;
    }
}

/* Responsive Project */
@media (max-width: 768px) {
    #project {
        padding: 20px;
    }

    .container-project {
        padding: 15px;
        height: auto; /* Allow height to adjust for mobile */
    }

    .myproject {
        font-size: 28px;
        margin-bottom: 20px !important;
    }

    .project-img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
    }

    .project-description {
        padding: 15px;
        font-size: 14px;
    }

    .carousel-control-prev, .carousel-control-next {
        width: 40px;
        height: 40px;
        transform: translateY(0);
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        width: 30px;
        height: 30px;
    }

    .carousel-item {
        flex-direction: column;
    }

    .project-container {
        flex-direction: column;
        gap: 20px;
    }

    .project-description p {
        font-size: 16px;
        flex-wrap: wrap;
    }

    .project-description ul li {
        font-size: 12px;
        line-height: 1.5;
    }
}

@media (max-width: 768px) {
    #proyek{
        height: auto;
    }
    .mypro {
        font-size: 28px;
    }

    .card {
        width: 100%;
        max-width: none;
        margin-bottom: 20px;
        border-radius: 12px;
    }

    .card-img-top {
        height: 150px;
    }

    .card-body {
        min-height: 130px;
    }
}

@media (max-width: 768px) {
    .popup-body {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .popup-image {
        width: 100%;
        max-width: 100%;
    }
    .popup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80vw !important;
        height: 80vh !important;
        background: black;
        border-radius: 10px;
        border: 2px solid #ff69b4;
        box-shadow: 0px 6px 12px rgba(255, 105, 180, 0.4);
        padding: 20px;
        z-index: 1000;
        overflow-y: auto;
    }
    .popup-text {
        color: white;
        font-size: 12px;
        padding-left: 70px;
    }
    
    .popup-text ul {
        padding-left: 0;
        list-style-position: inside;
        list-style: none;
    }

    .image-slider {
        position: relative;
        width: 82.5%;
        height: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }
    
    .popup-image {
        width: 100%;
        height: 100%;
        display: none;
        object-fit: cover;
        transition: opacity 0.5s ease-in-out;
    }   
}
